/* table {
    border: solid 1px black;
} */

/* table {
    border: solid 1px black;
}
td {
    border: solid 1px black;
} */

/* table {
    border: solid 1px black;
    border-collapse: collapse;
}
td {
    border: solid 1px black;
} */

/* table {
    border: solid 1px black;
    border-collapse: collapse;
}
td {
    border: solid 1px black;
    padding: 10pt;
} */

table {
  border: solid 1px black;
  border-spacing: 10pt;
}
td {
  border: solid 1px black;
}
